<!DOCTYPE html>
{% load flatpages %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">

        <title>{% block title %}PUG-MA | Python User Group do Maranhão{% endblock %}</title>

        <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/main.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    {% get_flatpages as flatpages %}
                    <ul class="nav">
                        <li><a href="/">Home</a></li>
                        {% for page in flatpages %}
                        <li><a href="{{ page.url }}">{{ page.title|title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="site-body container">
            <header class="row site-header">
                <div class="span3">
                    <a href="#"><img class="logo" src="{{ STATIC_URL }}img/pugma.png" alt="Pug-MA"></a>
                </div>
                <div class="span6 offset3">
                    <ul class="row navigation">
                        <li class="span2">
                            <a href="http://python.org.br/"><img src="http://placehold.it/150x150/ff9d00/fff&text=Inicie-se" class="img-circle img-polaroid"></a>
                        </li>
                        <li class="span2">
                            <a href="http://groups.google.com/group/pug-ma/"><img src="http://placehold.it/150x150/961b1b/fff&text=Faça parte" class="img-circle img-polaroid"></a>
                        </li>
                        <li class="span2">
                            <a href="https://github.com/pug-ma"><img src="http://placehold.it/150x150/edd51e/fff&text=Contribua" class="img-circle img-polaroid"></a>
                        </li>
                    </ul>
                </div>
            </header>
            <div class="row site-main">
                <section class="span8">
                    {% block "content-wrapper" %}
                        {% for obj in object_list %}
                            {% include "blog/entry_snippet.html" %}
                        {% endfor %}
                    {% endblock %}
                </section>
                <section class="span4">
                    <ul class="social clearfix">
                        <li><a href="#"><img src="{{ STATIC_URL }}img/fb.png"></a></li>
                        <li><a href="#"><img src="{{ STATIC_URL }}img/tw.png"></a></li>
                        <li><a href="#"><img src="{{ STATIC_URL }}img/fd.png"></a></li>
                    </ul>
                    {% if next_event %}
                    <section class="default-box">
                        <h3>Próximo encontro</h3>
                        {{ next_event.body|safe }}
                    </section>
                    {% endif %}
                    {% if projects %}
                    <section class="default-box">
                        <h3>Projetos</h3>
                        <ul class="media-list">
                            {% for project in projects %}
                            <li class="media">
                                {% if project.image %}
                                <a class="pull-left" href="#">
                                    <img class="media-object" src="{{ STATIC_URL }}{{ project.image }}">
                                </a>
                                {% endif %}
                                <div class="media-body">
                                    <h4 class="media-heading">{{ project.name }}</h4>
                                    <p><a href="{{ project.url }}">{{ project.description }}</a></p>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </section>
                    {% endif %}
                    {% if members %}
                    <section class="default-box">
                        <h3>Membros</h3>
                        <div class="people">
                            <a href="#"><img src="http://placehold.it/50x50"></a>
                            <a href="#"><img src="http://placehold.it/50x50"></a>
                            <a href="#"><img src="http://placehold.it/50x50"></a>
                            <a href="#"><img src="http://placehold.it/50x50"></a>
                            <a href="#"><img src="http://placehold.it/50x50"></a>
                            <a href="#"><img src="http://placehold.it/50x50"></a>
                            <a href="#"><img src="http://placehold.it/50x50"></a>
                            <a href="#"><img src="http://placehold.it/50x50"></a>
                        </div>
                    </section>
                    {% endif %}
                </section>
            </div>
        </div>
        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <section class="span2">
                        <h4>Quem somos</h4>
                        {% get_flatpages as flatpages %}
                        <ul>
                            {% for page in flatpages %}
                            <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </section>
                    <section class="span3">
                        <h4>Últimas publicações</h4>
                        <ul>
                            {% for obj in latest_entries %}
                                <li><h5><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a></h5></li>
                            {% endfor %}
                        </ul>
                    </section>
                    <section class="span7">
                    </section>
                </div>
            </div>
        </footer>
        <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
        <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    </body>
</html>
