{% load tagging_tags %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">

        <title>Pug-MA | Python User Group do Maranhão</title>

        <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/main.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <ul class="nav">
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="site-body container">
            <header class="row site-header">
                <div class="span2">
                    <a href="#"><img class="logo" src="{{ STATIC_URL }}img/pugma.png" alt="Pug-MA"></a>
                </div>
                <div class="span6 offset4">
                    <ul class="row new-users-navigation">
                        <li class="span2">
                            <a href="#"><img src="http://placehold.it/150x150/ff9d00/fff&text=Inicie-se" class="img-circle img-polaroid"></a>
                        </li>
                        <li class="span2">
                            <a href="#"><img src="http://placehold.it/150x150/961b1b/fff&text=Associe-se" class="img-circle img-polaroid"></a>
                        </li>
                        <li class="span2">
                            <a href="#"><img src="http://placehold.it/150x150/00ffd0/fff&text=Contribua" class="img-circle img-polaroid"></a>
                        </li>
                    </ul>
                </div>
            </header>
            <div class="row site-main">
                <section class="span8">
                    {% for obj in object_list %}
                    <article class="post clearfix">
                        <header>
                            <h2><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a></h2>
                            <p>Publicado por: <b>{{ obj.author.get_full_name }}</b> em <b>{{ obj.pub_date|date:"d/m/Y \à\s h:i" }}</b></p>
                        </header>
                        
                        <div class="body">
                            {{ obj.body|safe }}
                        </div>

                        <footer>
                            {% tags_for_object obj as entry_tags %}
                            <p class="pull-right">
                                <a href="#"><i class="icon-comment"></i> Comentários</a> | 
                                <span><i class="icon-tag"></i> {% for tag in entry_tags %}<a href="{{ tag.get_absolute_url }}">{{ tag }}</a>{% if not forloop.last %} ,{% endif %}{% endfor %}</span>
                            </p>
                        </footer>
                    </article>
                    {% endfor %}
                </section>
                <section class="span4">
                    <ul class="social clearfix">
                        <li><a href="#"><img src="{{ STATIC_URL }}img/fb.png"></a></li>
                        <li><a href="#"><img src="{{ STATIC_URL }}img/tw.png"></a></li>
                        <li><a href="#"><img src="{{ STATIC_URL }}img/fd.png"></a></li>
                    </ul>
                    <section class="default-box">
                        <h3>Próximo encontro</h3>
                        <p><b>Local: </b>INESPO</p>
                        <p><b>Data/Hora: </b>11/05/2013 às 14:00</p>
                    </section>
                    <section class="default-box">
                        <h3>Projetos</h3>
                        <ul class="media-list">
                            {% for i in "123" %}
                            <li class="media">
                                <a class="pull-left" href="#">
                                    <img class="media-object" src="http://placehold.it/64x64">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading">Media heading</h4>
                                    <p><a href="#">Lole hehehe adgasudhgasud, nice project!</a></p>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </section>
                    <section class="default-box">
                        <h3>Membros</h3>
                        <div class="people">
                            <a href="#"><img src="http://placehold.it/50x50"></a>
                            <a href="#"><img src="http://placehold.it/50x50"></a>
                            <a href="#"><img src="http://placehold.it/50x50"></a>
                            <a href="#"><img src="http://placehold.it/50x50"></a>
                            <a href="#"><img src="http://placehold.it/50x50"></a>
                            <a href="#"><img src="http://placehold.it/50x50"></a>
                            <a href="#"><img src="http://placehold.it/50x50"></a>
                            <a href="#"><img src="http://placehold.it/50x50"></a>
                        </div>
                    </section>
                </section>
            </div>
        </div>
        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <section class="span2">
                        <h4>Quem somos</h4>
                        <ul>
                            <li><a href="#">Pug-MA</a></li>
                            <li><a href="#">Pug-MA</a></li>
                            <li><a href="#">Pug-MA</a></li>
                            <li><a href="#">Pug-MA</a></li>
                        </ul>
                    </section>
                    <section class="span3">
                        <h4>Últimas publicações</h4>
                        <ul>
                            <li><h5><a href="#">Mussum ipsum cacilds, vidis litro abertis</a></h5></li>
                            <li><h5><a href="#">Pra lá , depois divoltis porris, paradis</a></h5></li>
                            <li><h5><a href="#">Mussum ipsum cacilds, vidis litro abertis</a></h5></li>
                            <li><h5><a href="#">Pra lá , depois divoltis porris, paradis</a></h5></li>
                        </ul>
                    </section>
                    <section class="span7">
                        <img src="http://placehold.it/670x150" class="img-polaroid">
                    </section>
                </div>
            </div>
        </footer>
        <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
        <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    </body>
</html>
