body {
    background: url(../img/bg.png);
}
a,
a:hover {
    color: #961B1B;
}
.navbar-fixed-top {
    position: static;
}
.site-header {
    padding: 25px 0;
}
.site-header .logo {
    margin: 40px 20px;
}
.navigation {
    list-style: none;
}
.navigation li {
    -webkit-transition: margin-top 0.3s ease-out;
    -moz-transition: margin-top 0.3s ease-out;
    -o-transition: margin-top 0.3s ease-out;
    transition: margin-top 0.3s ease-out;
    position: relative;
}
.navigation li:hover {
    margin-top: -10px;
}
.post {
    -webkit-box-shadow: 1px 1px 0px 0px rgb(204, 204, 204);
    -moz-box-shadow: 1px 1px 0px 0px rgb(204, 204, 204);
    box-shadow: 1px 1px 0px 0px rgb(204, 204, 204);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 10px 20px;
    background: #fff;
}
.post h2,
.default-box h3 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
.post h2 a {
    color: #333;
}
.social {
    list-style: none;
    float: left;
    width: 100%;
    margin: 0;
}
.social li {
    margin-right: 10px;
    float: left;
}
.default-box {
    margin-top: 30px;
    float: left;
    width: 100%;
}
.people a {
    margin: 0 5px 5px 0;
    float: left;
}
.site-footer {
    background: #1b1b1b;
    margin-top: 20px;
    padding: 20px 0;
}
.site-footer h4 {
    color: #fff;
}
.site-footer ul {
    list-style: none;
    margin: 0;
}
